<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Croissant One">
	<link rel="stylesheet" type="text/css" href="assets/style/nav.css">
	<link rel="stylesheet" type="text/css" href="assets/style/mob_nav.css">
	<link rel="stylesheet" type="text/css" href="assets/style/dashboard.css">
	<link rel="stylesheet" type="text/css" href="assets/style/mob_dash.css">
	<link rel="stylesheet" type="text/css" href="assets/style/upload_button.css">
	<link rel="stylesheet" type="text/css" href="assets/style/mob_upload_button.css">
	<script src="assets/js/jquery.js"></script>
	<title>Dashboard</title>
</head>
<body>
<div class="container">
	
   <div th:replace="navigation :: header"></div>
	<div class="content">
		<div class="header">
			<div class="logo">4 share</div>
			<div class="content_name">Dashboard</div>
		</div>
		<div sec:authorize="hasRole('ADMIN')" class="pass_box pass_btn"><span class="icon"><img src="assets/icon/key.svg"/></span>Password</div>
		<a th:href="@{/search}" class="pass_box search_btn"><span class="icon"><img src="assets/icon/search.svg"/></span>Search</a>
		
		
		<div class="box-cover">
			<a th:href="@{/allFiles}" class="file_box al_box">
			 	<div class="icon box_icon"><img src="assets/icon/AllFiles.svg"></div>
			 	<div class="box_txt">All Files</div>
			 	<div class="box_shape"></div>
			 	<div class="box_txt txt_file">files:<span class="txt_no" th:text="${total}">100</span></div>
			 </a>

			<a th:href="@{/document}" class="file_box doc_box">
			 	<div class="icon box_icon"><img src="assets/icon/Document.svg"></div>
			 	<div class="box_txt">Documents</div>
			 	<div class="box_shape"></div>
			 	<div class="box_txt txt_file">files:<span class="txt_no" th:text="${noOfApp}">25</span></div>
			 </a> 

			<a th:href="@{/music}" class="file_box mus_box">
			 	<div class="icon box_icon"><img src="assets/icon/Music.svg"></div>
			 	<div class="box_txt">Music</div>
				<div class="box_shape"></div>
				<div class="box_txt txt_file">files:<span class="txt_no" th:text="${noOfAudio}">30</span></div>
			</a>

 			<a th:href="@{/images}" class="file_box pic_box">
			 	<div class="icon box_icon"><img src="assets/icon/image.svg"></div>
			 	<div class="box_txt">Images</div>
			 	<div class="box_shape"></div>
			 	<div class="box_txt txt_file">files:<span class="txt_no" th:text="${noOfImg}">25</span></div>
			</a>

		  <a th:href="@{/video}" class="file_box vid_box">
			 	<div class="icon box_icon"><img src="assets/icon/Video.svg"></div> 
			 	<div class="box_txt">Video</div>
			 	<div class="box_shape"></div>
			 	<div class="box_txt txt_file">files:<span class="txt_no" th:text="${noOfVideo}">05</span></div>
			</a>

		<!-- 	<a href="www.google.com" class="file_box oth_box">
			 	<div class="icon box_icon"><img src="assets/icon/Allfiles.svg"></div>
			 	<div class="box_txt">Others</div>
			 	<div class="box_shape"></div>
			 	<div class="box_txt txt_file">files:<span class="txt_no">12</span></div>
			</a> -->
		</div>
		
		<!-- file upload button -->
			<div class="fileUpload_box">
				<div class="fileUpload_button">
					<img src="assets/uploadButtonIcon/fileUploadIcon.svg" alt="fileUploadIcon">
				</div>

				<div class="box" th:with="url=${#httpServletRequest.requestURI}">
					<a th:href="@{/refreshDB/{uri}(uri=${#strings.arraySplit(url,'/')[1]})}" class="refresh item"><img src="assets/uploadButtonIcon/refresh.svg" alt="refresh image"></a>
					<a th:href="@{/uploadFiles?input=public}" class="public_file item"><img src="assets/uploadButtonIcon/public.svg"
							alt="public_file image"></a>
					<a th:href="@{/uploadFiles?input=private}" class="private_file item" sec:authorize="hasRole('USER')"><img src="assets/uploadButtonIcon/private.svg"
							alt="private_file image"></a>
				</div>
			</div>

	</div>
	<div class="popup"  sec:authorize="hasRole('ADMIN')">
			<div class="cross"></div>
			<div class="popup_content" th:object="${passwordGen}">
			
			
				
				<div class="setting-form" >
					<div class="icon icon-setting"><img src="assets/icon/user.svg" alt="icon"/></div>
						<form>
							<lable for="user" class="lbl_setting user">User:</lable>
							<input type="password" class="user" id="user" th:value="*{user}" readonly/>
							<input type="button" value="Show" class="btn btn-show-user"/>
						</form>
					</div>
				
				<div class="setting-form">
					<div class="icon icon-setting"><img src="assets/icon/user_pink.svg" alt="icon"/></div>
					<form>
						<lable for="guest" class="lbl_setting guest">Guest:</lable>
						<input type="password" class="user" id="guest" th:value="*{guest}" readonly />
						<input type="button" value="show" class="btn btn-show-guest"/>
						
					</form>
				</div>

			</div>

			<div class="box_shape c1"></div>
			<div class="box_shape c2"></div>
			<div class="box_shape c3"></div>
			<div class="box_shape c4"></div>
			<div class="box_shape c5"></div>

	</div>
</div>

	<script type="text/javascript" src="assets/js/nav.js"></script>
   <script type="text/javascript" src="assets/js/dashboard.js"></script>
   <script type="text/javascript" src="assets/js/upload_button.js"></script>
   


</body>
</html>